.title {
  font-size: 50px;
  color: #ce1212;
  letter-spacing: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 650px) {
  .title {
    font-size: 34px;
    margin-top: 26px;
    margin-bottom: 6px;
    letter-spacing: 8px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 25px;
    margin-top: 26px;
    margin-bottom: 6px;
    letter-spacing: 5px;
  }
}
