.wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.304);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.modal {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;

  &.active {
    opacity: 1;
    transform: scale(1);
  }

  &__icon {
    font-size: 70px;
    color: #008017;
  }

  &__title {
    color: #008017;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__text {
    text-align: center;
    color: #000;
  }

  &__btn {
    width: 150px;
    height: 40px;
    background: #fff;
    border: 2px solid #008017;
    border-radius: 5px;
    color: #008017;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .modal {
    width: 350px;
    height: 350px;
    gap: 20px;
    &__text {
      font-size: 14px;
    }
  }
}

@media (max-width: 368px) {
  .modal {
    width: 310px;
    height: 310px;
    gap: 15px;
    &__text {
      font-size: 13px;
    }

    &__btn {
      width: 120px;
      height: 30px;
      font-size: 14px;
    }
  }
}
